<div class="row">
  <div class="col-md-12 footer">
    <nav class="navbar fixed-bottom">
      <span class="navbar-text">
        <p class="pFooter">&copy;2017, SarahRaeCreative.<br/>
        This site is for entertainment/homework purposes only. As you may expect, these statements are not approved by the FDA because blah, blah, blah. Every body reacts differently to different oils, so finding what works for you may require some experimentation.</p>
      </span>
    </nav>
  </div>
</div>
