<div class="row">
  <div class="col-md-12 footer">
    <nav class="navbar fixed-bottom">
      <span class="navbar-text">
        <p class="pFooter">&copy;2017, SarahRaeCreative.<br/>
        This site is for entertainment/homework purposes only. As you may expect, these statements are not approved by the FDA because hmmm, these products are natural, accessible to everyone and there is no money to be made by big food or big pharma upon FDA approval.</p>
      </span>
    </nav>
  </div>
</div>
