<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oils Reference Home Page</title>
    <link rel="icon" href="http://i.imgur.com/m0AjSPy.png">
  </head>
  <body>
    <header>
      <h1>this is the main page</h1>
      <p>this is some text about the site</p>
    </header>
    <main>
      <%# For bootstrap use %>
      <table>
        <tr>
          <td>
            <%# or column - not sure; need to look at BS documentation%>
          <button><a href="/oils">Oil Index</a></button>
          <img src="#">
        </td>
        <td>
          <button><a href="/body">Body Index</a></button>
          <img src="#">
        </td>
        </tr>
      </table>

  </body>
</html>
