<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oils Index page</title>
  </head>
  <body>
    <header>
      <h1>Oils Page</h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/bodies">Body</a></button>
              <button><a href="/oils/new">Add another oil</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <% for(let i = 0; i < oils.length; i++){ %>
    			// <div class="oilListing">
          <a href="/oils/<%=oils[i]._id%>"><img src="<%=oils[i].iconImg%>"></a> <a href="/oils/<%=oils[i]._id%>"><%=oils[i].name%></a><br/>
    			// </div>
    		<% } %>
    </main>
  </body>
</html>
