<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Add an oil</h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/body">Body</a></button>
              <button><a href="/oils">Oil Index</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main class="newOilForm">
      <form action="/oils" method="post">
        Name: <input type="text" name="name" /><br/>
        Background Image: <input type="text" name="bgImg" /><br/>
				Icon Image: <input type="text" name="iconImg" /><br/>
        Organ/System Name: <input type="text" name="bodySystemName1" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText1" /><br/>
        <br/>
        Extra Systems (Optional):<br/>
        Organ/System Name: <input type="text" name="bodySystemName2" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText2" /><br/>
        Organ/System Name: <input type="text" name="bodySystemName3" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText3" /><br/>
        Organ/System Name: <input type="text" name="bodySystemName4" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText4" /><br/>
				<input type="submit" value="Add Oil" class="addButton"/>
      </div>
      </form>
    </main>
  </body>
</html>
