<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://i.imgur.com/m0AjSPy.png">
    <link rel="stylesheet" href="/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Organs/Systems Page</h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/oils">Oils</a></button>
              <button><a href="/bodies/new">Add an organ/system</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <% for(let i = 0; i < bodies.length; i++) { %>
        <a href="/bodies/<%=bodies[i].id%>"><img src="<%=bodies[i].iconImg%>"></a> <a href="/bodies/<%=bodies[i].id%>"><%=bodies[i].name%></a><br/>
      <% } %>
    </main>
  </body>
</html>
